/* Custom CSS */
nav {
  z-index: 99;
  width: 100%;
  background-color: black;
  color: white;
  height: 12vh;
  position: relative;
  display: flex;
  font-family: "Poppins", sans-serif;
}


/* Mobile  */
@media screen and (max-width: 768px) {
  nav{
    height: 8vh;
  }
}