@import "tailwindcss/base";
@import "tailwindcss/components";
@import "./base.css";
@import "tailwindcss/utilities";

/* Font  */
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

* {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 400;
  color: #000;
}

/* Scroll Bar Hiding */
::-webkit-scrollbar {
  width: 0px; /* This will hide the horizontal and vertical scrollbar */
}

/* Custom classes */
.vh-90 {
  height: 90vh;
}

.meter-container {
  height: 50vh;
}

.info-container {
  height: 75vh;
}

/* Button login and sign up + Animations */
button {
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

button:hover {
  background-color: #23c483;
  box-shadow: 5px 8px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  /* transform: translateY(0 px); */
}

button:active {
  transform: translateY(-1px);
}

/* FAQ Section */
.faq-custom {
  width: 100%;
  height: 75vh;
}

.accordion {
  width: 90%;
  max-width: 1000px;
  margin: 2rem auto;
}
.accordion-item {
  background-color: #fff;
  color: #111;
  margin: 1rem 0;
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
}
.accordion-item-header {
  padding: 0.5rem 3rem 0.5rem 1rem;
  min-height: 3.5rem;
  line-height: 1.25rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.accordion-item-header::after {
  content: "\002B";
  font-size: 2rem;
  position: absolute;
  right: 1rem;
}
.accordion-item-header.active::after {
  content: "\2212";
}
.accordion-item-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.accordion-item-body-content {
  padding: 1rem;
  line-height: 1.5rem;
  border-top: 1px solid;
  border-image: linear-gradient(to right, transparent, #34495e, transparent) 1;
}

@media (max-width: 767px) {
  html {
    font-size: 14px;
  }
}
