* {
  box-sizing: border-box;
}

#root {
  z-index: 1;
  height: 88vh;
  width: auto;
}

/* sizing of map container */
.leaflet-container {
  z-index: 1;
  height: 88vh;
  width: auto;
}


/* Mobile  */
@media screen and (max-width: 768px) {
  .leaflet-container{
    height: 50vh;
    margin-left: 3vh;
    margin-right: 3vh;
  }
}