* {
  box-sizing: border-box;
}

#root {
  z-index: 1;
  height: 88vh;
  width: auto;
}

/* sizing of map container */
.leaflet-container {
  z-index: 1;
  height: 88vh;
  width: auto;
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  /* color: aliceblue !important; */
  background-color: black !important;
}

/* .leaflet-popup-content {
  color: aliceblue !important;
  background-color: black;
} */

.leaflet-popup-close-button span {
  color: aliceblue;
}

/* .leaflet-marker-icon:hover {
  border: solid !important;
} */

.aqiOpt h2 {
  color: aliceblue;
  background-color: black;
  padding: 5px;
  font-weight: bolder;
  text-align: center;
}

.aqiOpt h3 {
  color: aliceblue;
  background-color: blue;
  padding: 5px;
  font-weight: bolder;
  text-align: center;
}

/* Mobile  */
@media screen and (max-width: 768px) {
  .leaflet-container {
    height: 50vh;
    margin-left: 3vh;
    margin-right: 3vh;
  }
}
